body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#app {
  margin: auto;
  width: 80%;
}

input {
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  color: red;
}

#task-category {
  margin: 10px;
}

#task-list li button {
  margin-left: 10px;
}